body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.ladder-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: sandybrown;
    justify-content: space-evenly;
    align-items: center;
}

.set-container {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding-left: 30px;
    padding-right: 30px;
}

.room-container {
    background-color: honeydew;
    padding: 20px;
}